/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2016, 11:03:15 AM
    Author     : VS9 X64Bit
*/

body{
    background-color: #fff;
    font-family: Verdana;
    margin:0;
}

p, h1{
    text-align: center;
}
fieldset div{
    text-align: center;
}
#banner, #w3c{
    background-image: url('./banner-background.png');
    margin: 0 auto;
    color: #fff;
    padding: 16px;
}

#main{
    background-color: #fff;
    margin: 0 auto;
    padding: 16px;
    color: #000;
}

table{
    text-align: center;
    margin: 16px auto;
    border: 1px solid #dad9d4;
    border-collapse: collapse;
}
caption{
    margin-bottom: 10px;
}
tr:nth-child(2n){
    background-color: #dad9d4;
}

td{
    padding-left: 16px;
    padding-right: 16px;
    margin: 16px;
}

th{
    font-weight: bold;
}

form{
    width: 350px;
    margin: 0 auto;
}

